@import "tailwindcss";
@import "@neondatabase/auth/ui/tailwind";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navy: #050517;
  --rust: #CF5C36;
  --beige: #EFC88B;
  --cream: #F4E3B2;
  --lightgray: #D3D5D7;
  --hero-title: "Playfair"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--cream);
  color: Black;
  font-family: Roboto, Open Sans, sans-serif;
}

h2 {
  color: var(--navy);
  font-family: Roboto;
}
p {
  font-family: 'Open Sans';
}
