@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navy: #050517;
  --rust: #CF5C36;
  --beige: #EFC88B;
  --cream: #F4E3B2;
  --lightgray: #D3D5D7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--cream);
  color: Black;
  font-family: Roboto, Open Sans, sans-serif;
}
