@import "tailwindcss";

:root{
  --principal-color: #F4E3B2;
  --secondary-color: #CF5C36;
}

.bg-principal{
  background-color: var(--principal-color);
}

.bg-btn{
  background-color: var(--secondary-color);
}